.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.right-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50vw;
  height: 100%;
}

ul li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-content: baseline;
}

.saved-marker {
  filter: hue-rotate(90deg);
}

.hidden {
  display: none;
}

.App-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

Form {
  align-items: center;
  align-self: center;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  Map {
    width: 100vw;
  }
  .App-container {
    flex-direction: column;
  }

  .right-panel {
    width: 100vw;
  }
}

.popup-description {
  white-space: pre-line;
}
