.marker-list-item {
  border: 1px solid #ccc;
  margin: 15px 0;
  margin-left: 10px;
  padding-left: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.marker-list-item p {
  white-space: pre-line;
  width: auto;
  margin: auto;
}
